#############################################
# Base model
#############################################
base
base/**/*
!base/.gitkeep

#############################################
# IDE
#############################################
.idea
*.iml
*.ipr

#############################################
# OSX
#############################################
.DS_Store

#############################################
# Node
#############################################
node_modules
npm-debug.log
